@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

header{
  width: 100vw;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

.brand-div {
  display: flex;
  align-items: center;
}

#brand {
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}

.search-div {
  display: flex;
  width: 40%;
  min-width: 150px;
}

#search {
  width: 90%;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
  background-color: #111111;
  color: gray;
  border: none;
  outline: none;
}

#search-btn {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  margin-left: 5px;
  color: #fff;
}

.links-div {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38px;
  left: 0;
  padding-left: 0;
  list-style-type: none;
  background-color: #111111;
  z-index: -1;
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out;
}

.links-div.active{
  transform: translateX(0);
}

.nav-link {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  margin: 0px 10px;
  color: #fff;
}

#hamburger-menu {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.7rem;
  color: #fff;
  outline: none;
  border: none;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#video-info {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  max-width: 700px;
  height: 300px;
}

#video p {
  width: 100%;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 500;
}

#vid-links {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 0.1px solid #495057;
}

#views {
  color: #7f7f7f;
}

.video-interaction-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vid-link i{
  margin-right: 10px;
}

.vid-link {
  display: flex;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 8px;
}

#description-box {
  width: 100%;
  align-self: flex-start;
  margin-top: 10px;
}

#profile-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#profile {
  display: flex;
  align-items: center;
  font-size: 12px;
}

#subscribe {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: flex-end;
}

#join-btn {
  cursor: pointer;
  border: 1px solid #00a6fb;
  border-radius: 2px;
  background-color: transparent;
  color: #00a6fb;
  font-size: 12px;
  padding: 8px 15px;
}

#sub-btn {
  cursor: pointer;
  border: 1px solid #d00000;
  border-radius: 2px;
  background-color: #d00000;
  color: #fff;
  font-size: 12px;
  padding: 8px 15px;
  margin-left: 5px;
}

#desciption {
  color: #fff;
  padding-left: 5%;
  border-bottom: 0.1px solid #495057;
  font-size: 13px;
  line-height: 1.5;
}

#comments {
  width: 86%;
}

#section-titles {
  color: #fff;
  display: flex;
  font-size: 13px;
}

#section-titles p:nth-of-type(2) {
  margin-left: 30px;
}

#leave-comment-label i {
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}

#leave-comment {
  width: 80%;
  background-color: transparent;
  color: #7f7f7f;
  font-size: 13px;
  height: 30px;
  border: none;
  border-bottom: 0.1px solid #495057;
  outline: none;
  margin-top: 10px;
}

.comment-div {
  margin-top: 15px;
  color: #fff;
}

.username-time {
  display: flex;
  align-items: baseline;
}

.username {
  font-size: 14px;
}

.username i {
  margin-right: 8px;
  font-size: 16px;
}

.time {
  color: #7f7f7f;
  margin-left: 10px;
  font-size: 13px;
}

.comment {
  padding-left: 5%;
  margin-top: 0px;
  font-size: 13px;
}

.comment-div button {
  cursor: pointer;
  background-color: transparent;
  color: #7f7f7f;
  border: none;
  outline: none;
  font-size: 13px;
  margin-left: 10px;
}

.like-btn i {
  color: #fff;
  margin-right: 8px;
}

#recommanded-videos {
  width: 50%;
  min-width: 240px;
  margin-top: 70px;
}

.recommanded-vid {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100%;
  height: 200px;
  margin-right: 5%;
  object-fit: cover;
}

.vid-info {
  min-width: 200px;
  max-width: 400px;
  margin-top: 10px;
  padding-right: 20px;
  box-sizing: border-box;
}

.vid-title {
  margin: 0px;
  color: #fff;
  font-size: 15px;
}

.channel {
  margin-top: 5px;
  color: #7f7f7f;
  font-size: 13px;
}


@media screen and (min-width: 900px) {
  #hamburger-menu {
    display: none;
  }

  .links-div{
    position: unset;
    transform: translateX(0);
    background-color: transparent;
    width: fit-content;
    height: fit-content;
  }

  #brand{
    display: block;
  }

  nav{
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  main{
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }

  #video-info{
    align-self: flex-start;
    width: 65vw;
    max-width: 50vw;
    margin-right: 20px;
  }

  #video{
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  #recommanded-videos{
    width: 35vw;
    margin-top: 0;
  }

  .recommanded-vid{
    flex-wrap: nowrap;
  }

  .thumbnail{
    width: 50%;
    min-width: 200px;
    max-width: 250px;
    height: 150px;
  }

  .vid-info{
    width: 50%;
    max-width: 100px;
  }
}