@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Smooch+Sans:wght@500&display=swap');

body {
  margin: 0;
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: #1f1f1f;
}

#navbar .brand-div {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

#navbar #brand {
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  font-family: 'Smooch Sans', sans-serif;
}

#navbar #search {
  width: 550px;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #111111;
  color: gray;
  border: none;
  outline: none;
}

#navbar #search-btn {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-size: 1.5em;
  border: none;
  margin-left: 5px;
}

#navbar .nav-btn {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  margin: 0px 10px;
}

#navbar .links-div {
  padding-top: 8px;
  padding-right: 20px;
}

#main {
  display: flex;
  margin-top: 100px;
}

#left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left #vid p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}

#left #vid-links {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 0.1px solid #495057;
}

#left #vid-links #views {
  color: #7f7f7f;
}

#left #vid-links .vid-link {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

#left #desc-div {
  width: 86%;
  margin-top: 10px;
}

#left #desc-div #profile-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#left #desc-div #profile-sub #profile {
  display: flex;
  align-items: center;
}

#left #desc-div #profile-sub #sub #join-btn {
  cursor: pointer;
  border: 1px solid #00a6fb;
  border-radius: 2px;
  background-color: transparent;
  color: #00a6fb;
  font-size: 15px;
  padding: 8px 15px;
}

#left #desc-div #profile-sub #sub #sub-btn {
  cursor: pointer;
  border: 1px solid #d00000;
  border-radius: 2px;
  background-color: #d00000;
  color: #fff;
  font-size: 15px;
  padding: 8px 15px;
  margin-left: 5px;
}

#left #desc-div #desc {
  color: #fff;
  padding-left: 30px;
  border-bottom: 0.1px solid #495057;
}

#left #comments {
  width: 86%;
}

#left #comments #section-titles {
  color: #fff;
  display: flex;
  font-size: 17px;
}
#left #comments #section-titles p:nth-of-type(2) {
  margin-left: 30px;
}

#left #comments #leave-comment {
  width: 90%;
  background-color: transparent;
  color: #7f7f7f;
  font-size: 15px;
  height: 30px;
  border: none;
  border-bottom: 0.1px solid #495057;
  outline: none;
  margin-top: 10px;
}

#left #comments .comment-div {
  margin-top: 25px;
  color: #fff;
}

#left #comments .comment-div .username-time {
  display: flex;
  align-items: baseline;
}

#left #comments .comment-div .username {
  font-weight: bold;
}

#left #comments .comment-div .time {
  color: #7f7f7f;
  margin-left: 15px;
  font-size: 13px;
}

#left #comments .comment-div .comment {
  padding-left: 35px;
  margin-top: 0px;
}

#left #comments .comment-div .like-dislike-btn {
  cursor: pointer;
  background-color: transparent;
  color: #7f7f7f;
  border: none;
  outline: none;
  font-size: 15px;
}

#left #comments .comment-div .reply-btn {
  cursor: pointer;
  background-color: transparent;
  color: #7f7f7f;
  border: none;
  outline: none;
  font-size: 13px;
  margin-left: 15px;
}

#right {
  width: 30%;
  margin-right: 30px;
}

#right .recommanded-vid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  cursor: pointer;
}

#right .recommanded-vid .thumbnail {
  min-width: 190px;
  height: 110px;
  object-fit: cover;
}

#right .recommanded-vid .vid-info {
  margin-left: 10px;
}

#right .recommanded-vid .vid-info .vid-title {
  margin: 0px;
  color: #fff;
  font-size: 15px;
}

#right .recommanded-vid .vid-info .channel {
  margin-top: 5px;
  color: #7f7f7f;
  font-size: 13px;
}
